@page
@model RMall.Pages.RegisterModel
@{
}

<h1>Register New Account</h1>
<form action="javascript:void(0);" method="POST" onsubmit="register()">
    Username: <input type="text" id="username" placeholder="Username"><br />
    Email: <input type="email" id="email" placeholder="Email"><br />
    Password: <input type="password" id="password" placeholder="Password"><br />
    <input type="submit" value="Submit">
</form>